﻿
@{
    ViewBag.Title = "Client";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="~/Content/css/styleEvidence.css" />

<div class="container">
    <div class="row" id="divFP">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel" style="border: 1px #299534 solid;">
                <div class="panel-heading text-center verdeO">
                    FILTROS PRINCIPALES (Filtro producto y ciudad para los cuales desea parametrizar evidencias obligatorias)
                </div>
                <div class="panel-body">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text verdeO">Producto</span>
                            </div>
                            <select class="form-control verdeC" id="sltN">
                                <option selected value="0">Seleccione un NIT...</option>
                                <option value="1">Nit A</option>
                                <option value="2">Nit B</option>
                                <option value="3">Nit C</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text verdeO">Cliente</span>
                            </div>
                            <select class="form-control verdeC" id="sltC">
                                <option selected value="0">Seleccione un cliente...</option>
                                <option value="1">Cliente A</option>
                                <option value="2">Cliente B</option>
                                <option value="3">Cliente C</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text verdeO">Código SER</span>
                            </div>
                            <select class="form-control verdeC" id="sltCS">
                                <option selected value="0">Seleccione un código SER...</option>
                                <option value="1">SER A</option>
                                <option value="2">SER B</option>
                                <option value="3">SER C</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <button type="submit" class="btn bth-img" id="search"><i class="fa fa-3x fa-binoculars"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row oculto" id="divP">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel" style="border: 1px #299534 solid;">
                <div class="panel-heading text-center verdeO">
                    PRODUCTOS (Seleccione los productos que desea sean obligatorios para la toma de evidenciasa)
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="0" id="chkDU" type="checkbox" />
                                    <label class="custom-control-label" for="chkDU">
                                        Documento unitario
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="1" id="chkMI" type="checkbox" />
                                    <label class="custom-control-label" for="chkMI">
                                        Mercancia industrial
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="2" id="chkMV" type="checkbox" />
                                    <label class="custom-control-label" for="chkMV">
                                        Mercacia valores
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="3" id="chkMP" type="checkbox" />
                                    <label class="custom-control-label" for="chkMP">
                                        Mercancia premier
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="4" id="chkTS" type="checkbox" />
                                    <label class="custom-control-label" for="chkTS">
                                        Tula de seguridad
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="5" id="chkDL" type="checkbox" />
                                    <label class="custom-control-label" for="chkDL">
                                        Devolucion de loterias
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success float-right btnClient" id="btnContinuarP">Continuar <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row oculto" id="divC">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel" style="border: 1px #299534 solid;">
                <div class="panel-heading text-center verdeO">
                    PRODUCTOS (Seleccione los productos que desea sean obligatorios para la toma de evidenciasa)
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="0" id="chkB" type="checkbox" />
                                    <label class="custom-control-label" for="chkB">
                                        Bogotá
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="1" id="chkM" type="checkbox" />
                                    <label class="custom-control-label" for="chkM">
                                        Medellin
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="2" id="chkP" type="checkbox" />
                                    <label class="custom-control-label" for="chkP">
                                        Pereira
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="3" id="chkBA" type="checkbox" />
                                    <label class="custom-control-label" for="chkBA">
                                        Barranquilla
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="4" id="chkC" type="checkbox" />
                                    <label class="custom-control-label" for="chkC">
                                        Cartagena
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="5" id="chkBU" type="checkbox" />
                                    <label class="custom-control-label" for="chkBU">
                                        Bucaramanga
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success float-right btnClient" id="btnContinuarC">Continuar <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row oculto" id="divTZ">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel" style="border: 1px #299534 solid;">
                <div class="panel-heading text-center verdeO">
                    TIPO ZONA (Seleccione el tipo de zona de la que desea la evidencia sea obligatoria)
                </div>
                <div class="panel-body">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="col-md-6">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="0" id="chkCarga" type="checkbox" />
                                    <label class="custom-control-label" for="chkCarga">
                                        Carga
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-control-lg custom-control custom-checkbox">
                                    <input class="custom-control-input" value="1" id="chkDoc" type="checkbox" />
                                    <label class="custom-control-label" for="chkDoc">
                                        Documentos
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <button type="submit" class="btn btn-outline-success float-right btnClient" id="btnContinuarTZ">Continuar <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row oculto" id="divNZ">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel" style="border: 1px #299534 solid;">
                <div class="panel-heading text-center verdeO">
                    NOMBRE ZONA (Seleccione las zonas para las que desea las evidencias sean obligatorias)
                </div>
                <div class="panel-body">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <div class="col-md-12">
                                <div class="dropdown">
                                    <center>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input case" value="0" name="case[]" id="chkST" type="checkbox" />
                                            <label class="custom-control-label" for="chkST">
                                                SELECCIONAR TODO
                                            </label>
                                        </div>
                                    </center>
                                    <br />
                                    <button type="button" class="btn verdeC btn-block dropdown-toggle" data-toggle="dropdown">
                                        ZONAS
                                    </button>
                                    <div class="dropdown-menu">
                                        <div class="col-md-12">
                                            <div class="custom-control custom-control custom-checkbox">
                                                <input class="custom-control-input case" value="1" name="case[]" id="chkZ1" type="checkbox" />
                                                <label class="custom-control-label" for="chkZ1">
                                                    D ALAMOS 1 AEROPUERTO A
                                                </label>
                                            </div>
                                            <div class="custom-control custom-control custom-checkbox">
                                                <input class="custom-control-input case" value="2" name="case[]" id="chkZ2" type="checkbox" />
                                                <label class="custom-control-label" for="chkZ2">
                                                    D ALAMOS 2
                                                </label>
                                            </div>
                                            <div class="custom-control custom-control custom-checkbox">
                                                <input class="custom-control-input case" value="3" name="case[]" id="chkZ3" type="checkbox" />
                                                <label class="custom-control-label" for="chkZ3">
                                                    D ALAMOS 3
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <button type="submit" class="btn btn-outline-success float-right" id="btnContinuarNZ">Continuar <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row oculto" id="divTMD">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel-group">
                <div class="panel" style="border: 1px #299534 solid;">
                    <div class="panel-heading text-center verdeO">
                        TIPO MOVIMIENTO (Seleccione el tipo de movimiento para el que desea la evidencia sea obligatoria)
                        <br />
                        DISTRIBUCION
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="col-md-5 borderDiv" style="border-right: 2px #299534 solid;">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" value="0" id="chkRE" type="checkbox" />
                                        <label class="custom-control-label" for="chkRE">
                                            Reporte entregado
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 borderDiv" style="border-right: 2px #299534 solid;">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" id="chkF" type="checkbox" />
                                        <label class="custom-control-label" for="chkF">
                                            Fotografia
                                        </label>
                                    </div>
                                    <br />
                                    <select class="form-control verdeC" id="sltFE">
                                        <option selected value="0">Seleccione...</option>
                                        <option value="1">Envio</option>
                                        <option value="2">Contenido envio</option>
                                        <option value="3">Predio</option>
                                    </select>
                                </div>
                                <div class="col-md-2 borderDiv" style="border-right: 2px #299534 solid;">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" id="chkG" type="checkbox" />
                                        <label class="custom-control-label" for="chkG">
                                            Guia
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2 borderDiv">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" id="chkFI" type="checkbox" />
                                        <label class="custom-control-label" for="chkFI">
                                            Firma
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" style="border: 1px #299534 solid;">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="col-md-5">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" value="0" id="chkRD" type="checkbox" />
                                        <label class="custom-control-label" for="chkRD">
                                            Reporte devuelto
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success float-right btnClient" id="btnContinuarTMD">Continuar <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row oculto" id="divCRD">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel-group">
                <div class="panel" style="border: 1px #299534 solid;">
                    <div class="panel-heading text-center verdeO">
                        CAUSALES (Seleccione el causal para la cual desea que la evidencia sea obligatoria)
                        <br />
                        REPORTADO DEVUELTO
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="col-md-12">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-6"><center><b>FOTOGRAFIA</b></center></div>
                                    <div class="col-md-2"><center><b>FIRMA U OBSERVACIONES</b></center></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-5" style="border-right: 2px #299534 solid;">
                                        <div class="custom-control-lg custom-control custom-checkbox">
                                            <input class="custom-control-input caseRD" name="caseRD[]" id="chkSTRD" type="checkbox" />
                                            <label class="custom-control-label" for="chkSTRD">
                                                Seleccionar todo
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="custom-control-lg custom-control custom-checkbox">
                                            <input class="custom-control-input" id="chkFRDST" type="checkbox" />
                                            <label class="custom-control-label" for="chkFRDST"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="border-right: 2px #299534 solid;">
                                        <select class="form-control verdeC" id="sltFRDST">
                                            <option selected value="0">Seleccione...</option>
                                            <option value="1">Envio</option>
                                            <option value="3">Predio</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <center>
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input" id="chkFORDST" type="checkbox" />
                                                <label class="custom-control-label" for="chkFORDST"></label>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-5" style="border-right: 2px #299534 solid;">
                                        <div class="custom-control-lg custom-control custom-checkbox">
                                            <input class="custom-control-input caseRD" name="caseRD[]" id="chkDI" type="checkbox" />
                                            <label class="custom-control-label" for="chkDI">
                                                Direccion incorecta
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="custom-control-lg custom-control custom-checkbox">
                                            <input class="custom-control-input" id="chkFDI" type="checkbox" />
                                            <label class="custom-control-label" for="chkFDI"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="border-right: 2px #299534 solid;">
                                        <select class="form-control verdeC" id="sltFDI">
                                            <option selected value="0">Seleccione...</option>
                                            <option value="1">Envio</option>
                                            <option value="3">Predio</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <center>
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input" id="chkFODI" type="checkbox" />
                                                <label class="custom-control-label" for="chkFODI"></label>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success float-right" id="btnContinuarCRD">Continuar <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row oculto" id="divTMR">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel-group">
                <div class="panel" style="border: 1px #299534 solid;">
                    <div class="panel-heading text-center verdeO">
                        TIPO MOVIMIENTO (Seleccione el tipo de movimiento para el que desea la evidencia sea obligatoria)
                        <br />
                        RECOLECCION
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="col-md-5 borderDiv" style="border-right: 2px #299534 solid;">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" value="0" id="chkRR" type="checkbox" />
                                        <label class="custom-control-label" for="chkRR">
                                            Reporte recogido
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 borderDiv" style="border-right: 2px #299534 solid;">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" id="chkRF" type="checkbox" />
                                        <label class="custom-control-label" for="chkRF">
                                            Fotografia
                                        </label>
                                    </div>
                                    <br />
                                    <select class="form-control verdeC" id="sltRFE">
                                        <option selected value="0">Seleccione...</option>
                                        <option value="1">Envio</option>
                                        <option value="2">Contenido envio</option>
                                        <option value="3">Predio</option>
                                    </select>
                                </div>
                                <div class="col-md-2 borderDiv" style="border-right: 2px #299534 solid;">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" id="chkRG" type="checkbox" />
                                        <label class="custom-control-label" for="chkRG">
                                            Guia
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2 borderDiv">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" id="chkRFI" type="checkbox" />
                                        <label class="custom-control-label" for="chkRFI">
                                            Firma
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" style="border: 1px #299534 solid;">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="col-md-5">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input" value="0" id="chkNR" type="checkbox" />
                                        <label class="custom-control-label" for="chkNR">
                                            No recogido
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success float-right" id="btnContinuarTMR">Continuar <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row oculto" id="divCNR">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel-group">
                <div class="panel" style="border: 1px #299534 solid;">
                    <div class="panel-heading text-center verdeO">
                        CAUSALES (Seleccione el causal para la cual desea que la evidencia sea obligatoria)
                        <br />
                        NO RECOGIDO
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="col-md-12">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-6"><center><b>FOTOGRAFIA</b></center></div>
                                    <div class="col-md-2"><center><b>FIRMA U OBSERVACIONES</b></center></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-5" style="border-right: 2px #299534 solid;">
                                        <div class="custom-control-lg custom-control custom-checkbox">
                                            <input class="custom-control-input caseNR" name="caseNR[]" id="chkSTNR" type="checkbox" />
                                            <label class="custom-control-label" for="chkSTNR">
                                                Seleccionar todo
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="custom-control-lg custom-control custom-checkbox">
                                            <input class="custom-control-input" id="chkFNRST" type="checkbox" />
                                            <label class="custom-control-label" for="chkFNRST"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="border-right: 2px #299534 solid;">
                                        <select class="form-control verdeC" id="sltFNRST">
                                            <option selected value="0">Seleccione...</option>
                                            <option value="1">Envio</option>
                                            <option value="3">Predio</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <center>
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input" id="chkFONRST" type="checkbox" />
                                                <label class="custom-control-label" for="chkFONRST"></label>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-5" style="border-right: 2px #299534 solid;">
                                        <div class="custom-control-lg custom-control custom-checkbox">
                                            <input class="custom-control-input caseNR" name="caseNR[]" id="chkCSG" type="checkbox" />
                                            <label class="custom-control-label" for="chkCSG">
                                                Cliente sin guias
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="custom-control-lg custom-control custom-checkbox">
                                            <input class="custom-control-input" id="chkFCG" type="checkbox" />
                                            <label class="custom-control-label" for="chkFCG"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="border-right: 2px #299534 solid;">
                                        <select class="form-control verdeC" id="sltFCG">
                                            <option selected value="0">Seleccione...</option>
                                            <option value="1">Envio</option>
                                            <option value="3">Predio</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <center>
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input" id="chkFOCG" type="checkbox" />
                                                <label class="custom-control-label" for="chkFOCG"></label>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success float-right" id="btnContinuarCNR">Continuar <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <center>
        <button type="submit" class="btn bth-img oculto" id="save"><i class="fa fa-3x fa-save"></i></button>
    </center>    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/Validations/client.js"></script>