﻿@model MvcReporteEvidenciasPosteriores.Models.EvidenceModel
@{
    ViewBag.Title = "Index";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="~/Content/gijgo/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/gijgo/gijgo.min.js" type="text/javascript"></script>
<script src="~/Content/gijgo/messages.es-es.js" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <style>
        /*css process modal -  processing-modal*/
        .modal-static {
            position: fixed;
            top: 50% !important;
            left: 50% !important;
            margin-top: -100px;
            margin-left: -150px;
            overflow: visible !important;
        }

            .modal-static,
            .modal-static .modal-dialog,
            .modal-static .modal-content {
                width: 300px;
                height: 90px;
            }

                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important;
                    margin: 0 !important;
                }

                    .modal-static .modal-content .icon {
                    }

        .modal-text {
            text-align: center;
            font-family: Cambria;
            font-weight: bold;
            font-size: medium;
        }

        .fecha {
        }
    </style>

    <h2 class="text-center">Evidencias - Servientrega ICFES</h2>

    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.srtIdEmpleado, "* Código Empleado:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.srtIdEmpleado, new { htmlAttributes = new { @class = "form-control", @id = "txtDocumento", @maxlength = "20", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.srtIdEmpleado, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.strFechaEnvio, "* Fecha de Evidencia:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.strFechaEnvio, new { htmlAttributes = new { @Id = "datepicker", @maxlength = "15", @autocomplete = "off", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.strFechaEnvio, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success col-md-6" id="export"><i class="glyphicon glyphicon-download"> Exportar</i></button>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"></div>
        <div class="col-md-2"></div>
    </div>

    <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <img src="~/Content/Img/gif-processing.gif" style="width:70px; height: 40px;" class="gj-icon" />
                        <h5><span class="modal-text">Procesando, Espere por favor...</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    var today, datepicker;
    today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    datepicker = $('#datepicker').datepicker({
        maxDate: today,
        locale: 'es-es',
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd',
        iconsLibrary: 'fontawesome'
    });

    $('#export').click("click", function () {

        var m = document.getElementById("txtDocumento").value;
        var expreg = /^[0-9a-zA-Z]*$/;
  
        if (expreg.test(m)) {

            if ($('#txtDocumento').val() == "" || $('#datepicker').val() == "") {

                alertify.error("Los campos Código Empleado y/o Fecha de Evidencia no pueden estar vacios.");
                document.getElementById("export").disabled = true;
                setTimeout(function () { document.getElementById("export").disabled = false; }, 2000);

            } else {

                var md = $("#processing-modal");
                md.modal('show');

                setTimeout(function () {
                    $("#processing-modal").fadeOut();
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    var r = location.reload(true);
                    setInterval(r,3000);
                }, 2000);
            }

        } else {

            alertify.error("Los campos Código Empleado no puede contener caracteres especiales.");
            document.getElementById("export").disabled = true;
            setTimeout(function () { document.getElementById("export").disabled = false; }, 2000);

        }
            
    });

    $(function () {
        var errorMessage = '@TempData["ErrorMessage"]'
        if (errorMessage != '')
            alertify.error(errorMessage);
    });

    $(function () {
        var successMessage = '@TempData["SuccessMessage"]'
        if (successMessage != '')
            alertify.success(successMessage);
    });

    window.addEventListener("keypress", function(event){
        if (event.keyCode == 13){
            event.preventDefault();
        }
    }, false);

</script>
