﻿@model MvcReporteEvidenciasPosteriores.Models.ParametersModel
@{
    ViewBag.Title = "Parameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="card border-success mb-3 text-center" style="border: 1px #299534 solid;">
                    <div class="card-header verdeO">
                        FILTROS PRINCIPALES (Filtro producto y ciudad para los cuales desea parametrizar evidencias obligatorias)
                    </div>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary verdeO" type="button">Producto</button>
                                </div>
                                <select class="custom-select verdeC" id="sltP"></select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary verdeO" type="button">Ciudad</button>
                                </div>
                                <select class="custom-select verdeC" id="sltC">
                                    <option value="0">Seleccione una ciudad...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                        <button type="button" class="btn bth-img" id="search"><i class="fa fa-3x fa-binoculars"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row oculto" id="divTZ">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card border-secondary mb-3 text-center" id="panelTZ" style="border: 1px #299534 solid;">
                    <div class="card-header verdeO">
                        TIPO ZONA (Seleccione el tipo de zona de la que desea la evidencia sea obligatoria)
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <div class="col-md-6">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnCarga, htmlAttributes: new { @class = "custom-control-input", @Id = "blnCarga" })
                                        @Html.LabelFor(model => model.blnCarga, "Carga", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnDocumentos, htmlAttributes: new { @class = "custom-control-input", @Id = "blnDocumentos" })
                                        @Html.LabelFor(model => model.blnDocumentos, "Documentos", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                        <button type="button" class="btn btn-outline-success oculto" id="btnCambiarTZ">Cambiar <i class="fa fa-retweet"></i></button>
                        <button type="button" class="btn btn-outline-success" id="btnContinuarTZ">Continuar <span class="fa fa-arrow-right"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row oculto" id="divNZ">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card border-secondary mb-3 text-center" style="border: 1px #299534 solid;">
                    <div class="card-header verdeO">
                        NOMBRE ZONA (Seleccione las zonas para las que desea las evidencias sean obligatorias)
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <center>
                                <button id="btnSTsltZ" type="button" class="btn btn-outline-success" onclick="seleccionarTodo('sltZ')">Seleccionar todo</button>
                            </center>
                            <br />
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text verdeO">Zonas</label>
                                </div>
                                <select class="form-control verdeC" name="sltZ" multiple id="sltZ">
                                    <option value="0">Seleccione una zona...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                        <button type="button" class="btn btn-outline-success oculto" id="btnCambiarNZ">Cambiar <i class="fa fa-retweet"></i></button>
                        <button type="button" class="btn btn-outline-success" id="btnContinuarNZ">Continuar <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row oculto" id="divTL">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card border-secondary mb-3 text-center" style="border: 1px #299534 solid;">
                    <div class="card-header verdeO">
                        TIPO LOGISTICA (Seleccione el tipo de logistica para el que desea la evidencia sea obligatoria)
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <div class="col-md-6">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnDistribucion, htmlAttributes: new { @class = "custom-control-input", @Id = "blnDistribucion" })
                                        @Html.LabelFor(model => model.blnDistribucion, "Distribución", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnRecoleccion, htmlAttributes: new { @class = "custom-control-input", @Id = "blnRecoleccion" })
                                        @Html.LabelFor(model => model.blnRecoleccion, "Recolección", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                        <button type="button" class="btn btn-outline-success oculto" id="btnCambiarTL">Cambiar <i class="fa fa-retweet"></i></button>
                        <button type="button" class="btn btn-outline-success" id="btnContinuarTL">Continuar <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row oculto" id="divTM">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card border-secondary mb-3" style="border: 1px #299534 solid;">
                                    <div class="card-header text-center verdeO">
                                        TIPO MOVIMIENTO (Seleccione el tipo de movimiento para el que desea la evidencia sea obligatoria)
                                        <br />
                                        DISTRIBUCION
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="col-md-12">
                                            <div class="input-group mb-3">
                                                <div class="col-md-6">
                                                    <div class="custom-control-lg custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(model => model.blnReportadoEntregado, htmlAttributes: new { @class = "custom-control-input", @Id = "blnReportadoEntregado" })
                                                        @Html.LabelFor(model => model.blnReportadoEntregado, "Reportado entregado", htmlAttributes: new { @class = "custom-control-label" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="custom-control-lg custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(model => model.blnReportadoDevuelto, htmlAttributes: new { @class = "custom-control-input", @Id = "blnReportadoDevuelto" })
                                                        @Html.LabelFor(model => model.blnReportadoDevuelto, "Reportado devuelto", htmlAttributes: new { @class = "custom-control-label" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card border-secondary mb-3" style="border: 1px #299534 solid;">
                                    <div class="card-header text-center verdeO">
                                        TIPO MOVIMIENTO (Seleccione el tipo de movimiento para el que desea la evidencia sea obligatoria)
                                        <br />
                                        RECOLECCION
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="col-md-12">
                                            <div class="input-group mb-3">
                                                <div class="col-md-6">
                                                    <div class="custom-control-lg custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(model => model.blnReportadoRecogido, htmlAttributes: new { @class = "custom-control-input", @Id = "blnReportadoRecogido" })
                                                        @Html.LabelFor(model => model.blnReportadoRecogido, "Reportado recogido", htmlAttributes: new { @class = "custom-control-label" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="custom-control-lg custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(model => model.blnIdNoRecogido, htmlAttributes: new { @class = "custom-control-input", @Id = "blnIdNoRecogido" })
                                                        @Html.LabelFor(model => model.blnIdNoRecogido, "No recogido", htmlAttributes: new { @class = "custom-control-label" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-transparent text-right" style="margin: -30px 0px 0px 0px;">
                        <button type="button" class="btn btn-outline-success oculto" id="btnCambiarTM">Cambiar <i class="fa fa-retweet"></i></button>
                        <button type="button" class="btn btn-outline-success" id="btnContinuarTM">Continuar <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row oculto" id="divTMD">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card border-secondary mb-3 text-center" style="border: 1px #299534 solid;">
                    <div class="card-header verdeO">
                        TIPO MOVIMIENTO (Seleccione el tipo de movimiento para el que desea la evidencia sea obligatoria)
                        <br />
                        DISTRIBUCION
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <div class="col-md-6">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnReportadoEntregadoD, htmlAttributes: new { @class = "custom-control-input", @Id = "blnReportadoEntregadoD" })
                                        @Html.LabelFor(model => model.blnReportadoEntregadoD, "Reportado entregado", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnReportadoDevueltoD, htmlAttributes: new { @class = "custom-control-input", @Id = "blnReportadoDevueltoD" })
                                        @Html.LabelFor(model => model.blnReportadoDevueltoD, "Reportado devuelto", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                        <button type="button" class="btn btn-outline-success oculto" id="btnCambiarTMD">Cambiar <i class="fa fa-retweet"></i></button>
                        <button type="button" class="btn btn-outline-success" id="btnContinuarTMD">Continuar <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row oculto" id="divTMR">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card border-secondary mb-3 text-center" style="border: 1px #299534 solid;">
                    <div class="card-header verdeO">
                        TIPO MOVIMIENTO (Seleccione el tipo de movimiento para el que desea la evidencia sea obligatoria)
                        <br />
                        RECOLECCION
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <div class="col-md-6">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnReportadoRecogidoR, htmlAttributes: new { @class = "custom-control-input", @Id = "blnReportadoRecogidoR" })
                                        @Html.LabelFor(model => model.blnReportadoRecogidoR, "Reportado recogido", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnIdNoRecogidoR, htmlAttributes: new { @class = "custom-control-input", @Id = "blnIdNoRecogidoR" })
                                        @Html.LabelFor(model => model.blnIdNoRecogidoR, "No recogido", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                        <button type="button" class="btn btn-outline-success oculto" id="btnCambiarTMR">Cambiar <i class="fa fa-retweet"></i></button>
                        <button type="button" class="btn btn-outline-success" id="btnContinuarTMR">Continuar <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row oculto" id="divE">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card border-secondary mb-3 text-center" style="border: 1px #299534 solid;">
                    <div class="card-header verdeO">
                        EVIDENCIAS (Seleccione el tipo de evidencia que sea obligatoria)
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group mb-4">
                                <div class="col-md-4">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnFirma, htmlAttributes: new { @class = "custom-control-input", @Id = "blnFirma" })
                                        @Html.LabelFor(model => model.blnFirma, "Firma", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnImagen, htmlAttributes: new { @class = "custom-control-input", @Id = "blnImagen" })
                                        @Html.LabelFor(model => model.blnImagen, "Imagen", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        @Html.CheckBoxFor(model => model.blnGuia, htmlAttributes: new { @class = "custom-control-input", @Id = "blnGuia" })
                                        @Html.LabelFor(model => model.blnGuia, "Guía", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>

                    </div>
                    <div class="card-footer bg-transparent text-right">
                        <button type="button" class="btn bth-img" id="save"><i class="fa fa-3x fa-save"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

}

@section Scripts {
    <script src="~/Scripts/Validations/parameters.js"></script>
    <script src="~/Scripts/Especific/Evidence/Evidence.js"></script>
    <script src="~/Scripts/Especific/Evidence/EventHandler.js"></script>
}