﻿
@{
    ViewBag.Title = "Index";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="~/Content/css/styleEvidence.css" />

<div class="container">
    <div class="row" id="divFP">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel" style="border: 1px #299534 solid;">
                <div class="panel-heading text-center verdeO">
                    FILTROS PRINCIPALES (Filtro producto y ciudad para los cuales desea parametrizar evidencias obligatorias)
                </div>
                <div class="panel-body">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text verdeO">Producto</span>
                            </div>
                            <input type="text" class="form-control" id="ciudad" placeholder="Ciudad">
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <button type="submit" class="btn bth-img btn-outline-success" id="search"><i class="fa fa-search"></i></button>

                    <div class="col-md-12 oculto" id="tbCiudad">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div>
                                <table class="table table-hover">
                                    <tr>
                                        <td class="verdeO">Green Mobile</td>
                                        <td class="verdeC">
                                            <center>
                                                <div class="custom-control-lg custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="chkGMA" type="checkbox" />
                                                    <label class="custom-control-label" for="chkGMA">
                                                        Activo
                                                    </label>
                                                </div>
                                            </center>
                                        </td>
                                        <td class="verdeC">
                                            <center>
                                                <div class="custom-control-lg custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="chkGMI" type="checkbox" />
                                                    <label class="custom-control-label" for="chkGMI">
                                                        Inactivo
                                                    </label>
                                                </div>
                                            </center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="verdeO">Datafono</td>
                                        <td class="verdeC">
                                            <center>
                                                <div class="custom-control-lg custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="chkDAA" type="checkbox" />
                                                    <label class="custom-control-label" for="chkDAA">
                                                        Activo
                                                    </label>
                                                </div>
                                            </center>
                                        </td>
                                        <td class="verdeC">
                                            <center>
                                                <div class="custom-control-lg custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="chkDAI" type="checkbox" />
                                                    <label class="custom-control-label" for="chkDAI">
                                                        Inactivo
                                                    </label>
                                                </div>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel" style="border: 1px #299534 solid;">
                <div class="panel-heading text-center verdeO" data-toggle="colla">
                    <h5 data-toggle="collapse" data-target="#collap">CIUDADES</h5>
                </div>
                <div id="collap" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <table class="table table-hover">
                                <thead class="verdeO">
                                    <tr>
                                        <th>NOMBRE</th>
                                        <th>GREEN MOBILE</th>
                                        <th>DATAFONO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="verdeO">Bogotá</td>
                                        <td class="verdeC">
                                            <center>
                                                <div class="custom-control-lg custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="chkGM" type="checkbox" />
                                                    <label class="custom-control-label" for="chkGM"></label>
                                                </div>
                                            </center>
                                        </td>
                                        <td class="verdeC">
                                            <center>
                                                <div class="custom-control-lg custom-control custom-checkbox">
                                                    <input class="custom-control-input chk" id="chkDA" type="checkbox" />
                                                    <label class="custom-control-label" for="chkDA"></label>
                                                </div>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <center>
                                <button type="submit" class="btn btn-outline-success" id="">Examinar Cargue Masivo <i class="fa fa-eye"></i></button>
                                <button type="submit" class="btn btn-outline-success" id="">Descargar Plantilla <i class="fa fa-download"></i></button>
                            </center>                            
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <button type="submit" class="btn btn-outline-success float-right btnClient" id="save">Guardar <i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script>

    $(function () {
        enablechk();
        $("#chkGM").click(enablechk);
    });

    function enablechk() {
        if (this.checked) {
            $("input.chk").removeAttr("disabled");
        } else {
            $("input.chk").attr("disabled", true);
            $("input.chk").prop('checked', false);
        }
    }

    $('#save').click("click", function () {
        if ($('#chkGM').prop('checked')) {
            alertify.success("Uno o más servicios seleccionados.");
        } else {
            alertify.error("Seleccione uno o más servicios para la ciudad");
            $('#save').attr("disabled", true);
            setTimeout(function () { $('#save').attr("disabled", false); }, 3000);
        }
    });

    $('#search').click("click", function () {
        if ($('#ciudad').val() == "" || $('#ciudad').val() == null) {
            alertify.error("Ingrese la ciudad que desea buscar.");
            $('#search').attr("disabled", true);
            setTimeout(function () { $('#search').attr("disabled", false); }, 3000);
        } else {
            $('#tbCiudad').show();
            $('#search').attr("disabled", true);
            setTimeout(function () { $('#search').attr("disabled", false); }, 3000);
        }
    });


</script>