﻿.verdeO {
    background-color: #299534;
    color: #FFFFFF;
}

.verdeC {
    background-color: #A0D291;
}

.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: 0.1rem !important;
    left: -2rem !important;
    width: 1.55rem !important;
    height: 1.55rem !important;
}

.custom-control-lg .custom-control-label {
    margin-left: 0.5rem !important;
    font-size: 0.9rem !important;
    padding: 3px 0px 0px 0px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #008834;
}

.oculto {
    display: none;
}

.float-right {
    margin: -24px -1px 0px 0px;
}

.borderDiv {
    padding: 10px 10px 0px 10px;
}

.bootstrap-select {
    width: 85%;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

select:disabled {
    background-color: #A0D291;
}